table {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  border: 30px solid rgba(197, 110, 11, 0.914);
  width: fit-content;
  margin-left: 25%;
}

.header {
  display: flex;
  position: absolute;
  top: 0%;
  margin-left: 35%;
}

.light-cell {
  background: rgba(193, 165, 119, 0.654);
  width: 75px;
  height: 75px;
}

.light-cell:hover {
  transform: scale(1.2);
}

.dark-cell {
  background: #9d571b;
  width: 75px;
  height: 75px;
}

.dark-cell:hover {
  transform: scale(1.2);
}

.selected {
  background: rgb(211, 206, 53);
}

.possible-move {
  background: rgba(98, 148, 182, 0.746);
}

.btnSwitchPlayer {
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  margin-left: 5%;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  background-color: #044cd0;
  color: white;
}

.btnReset {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 39%;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  background-color: #d72503;
  color: white;
}
