table {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 20px solid rgba(193, 172, 119, 0.654);
  width: fit-content;
}

.light-cell {
  background: rgba(193, 172, 119, 0.654);
  width: 75px;
  height: 75px;
}

.dark-cell {
  background: #9d571b;
  width: 75px;
  height: 75px;
}

.selected {
  background: rgb(197, 197, 83);
}

.possible-move {
  background: rgb(221, 142, 46);
}
